:root {
        --color-primary-doctoc : #062f60;
        --main-bg-color: coral;
        --morado: #7c73e6;
        --verde: #4a9400;
        --verde: #40a853;
        --verde-claro: #99c272;
        --azul: #084c92;
        --azul: #4285f4;
        --cabecera_seguimiento: #c8eaa7;
        --hover_seguimiento: #dff0d8;
        --naranja: #d48b05;
        --azul-claro: #795548;
        --cafehome: #795548;
        --cafehome: #e49d04;
        --naranja2: #b97508;
      /**/
        --blue: #007bff;
        --indigo: #6610f2;
        --purple: #6f42c1;
        --pink: #e83e8c;
        --red: #dc3545;
        --orange: #fd7e14;
        --yellow: #ffc107;
        --green: #28a745;
        --teal: #20c997;
        --cyan: #17a2b8;
        --white: #fff;
        --gray: #6c757d;
        --gray-dark: #343a40;
        --primary: #007bff;
        --secondary: #6c757d;
        --success: #28a745;
        --info: #17a2b8;
        --warning: #ffc107;
        --danger: #dc3545;
        --light: #f8f9fa;
        --dark: #343a40;
        --light2: #ddd;
    }
.color-primary-doctoc{
    color:#062f60;
}
.navbar-light .navbar-brand{
    color: var(--color-primary-doctoc);
    font-weight:bold;
}
.navbar-light .navbar-nav .nav-link{
    color: var(--color-primary-doctoc);
}